<br/>
<div class="card text-center">
  <div class="card-header">
    <h5><%= order.first_name + ' ' + order.last_name%></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= order.product %></h5>
    <p class="card-text"><%= order.note %></p>
    <br/>
    <p><b>Telefon:</b> <%= order.phone %></p>
    <br/>
    <%= link_to "Tilbake", orders_path, class:"btn btn-outline-primary me-2" %>
    <%= link_to "Endre", edit_order_path(@order), class:"btn btn-outline-success me-2" %>
    <%= link_to "Slett", @order, data: { turbo_method: :delete, turbo_confirm: 'Er du sikker?' }, class:"btn btn-danger me-2" %>
  </div>
</div>
