<div id="<%= dom_id order %>">
  <p>
    <strong>Fornavn:</strong>
    <%= order.first_name %>
  </p>

  <p>
    <strong>Etternavn:</strong>
    <%= order.last_name %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= order.phone %>
  </p>

  <p>
    <strong>Produkt:</strong>
    <%= order.product %>
  </p>

  <p>
    <strong>Notat:</strong>
    <%= order.note %>
  </p>

</div>
